<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TARJETAS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!--link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}"-->
</head>

<body>

    <div class="card">
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-md-5">
                <form action="{{ url_for('guardarTarjeta') }}" method="post">
                    <div class="card-header bg-primary text-white">Formulario</div>
                    <div class="card-body">
                        <div>
                            <label for="tarjetas">Descripcion</label>
                        </div>
                        <div>
                            <input type="text" id="txt_tarjeta" class="form-control" name="txt_tarjeta" placeholder="Favor de completar">
                        </div>
                        {# Esta bloque busca el mensaje de error #}
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            <strong>Mensaje al usuario!</strong> {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>

                    <button type="submit" class="btn btn-primary" id="enviar">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>